* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    height: 100%;
    background-color: whitesmoke;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr) 3fr;
}

.header {
    background-color: white;
    box-shadow: 0 2px 3px gray;
    border: 2px solid black;
    grid-row: 1 / 2;
    display: grid;
}

.sidebar {
    background-color: rgb(16, 156, 244);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    color: white;
    display: grid;
    grid-template-rows: repeat(2, 100px) 3fr;
    padding: 15px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    grid-row: 1;
    align-content: flex-start;
}

.menu {
    display: grid;
    grid-row: 2 / 3;
    margin: 5px 10px;
    gap: 50px;
}

.top-menu,
.bottom-menu {
    display: grid;
    justify-content: flex-start;
    row-gap: 15px;
}

.menus {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
    align-items: center;
}

.main-content {
    margin: 10px;
    grid-row: 2 / 3;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 15px;
}

.article {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.projects {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.main-content .title {
    grid-column: 1 / -1;
}

.side {
}