@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e7eb;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 1fr) 3fr;
}

.header {
    background-color: white;
    box-shadow: 0 2px 3px #d1d5db;
    grid-row: 1 / 2;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    justify-items: flex-start;
    padding: 20px;
}

.top-left {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.top-left div {
    display: grid;
    gap: 5px;
    font-weight: 500;
}

.top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

.top-right button {
    width: 100px;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    background-color: #0ea5e9;
    color: white;
}

.top-left input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #e5e7eb;
    padding: 7px 10px;
}

.sidebar {
    background-color: #0ea5e9;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    color: white;
    display: grid;
    grid-template-rows: repeat(2, 100px) 3fr;
    padding: 15px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    grid-row: 1;
    column-gap: 10px;
    align-content: flex-start;
}

.menu {
    display: grid;
    grid-row: 2 / 3;
    margin: 5px 10px;
    gap: 50px;
    font-weight: 500;
}

.top-menu,
.bottom-menu {
    display: grid;
    justify-content: flex-start;
    row-gap: 15px;
}

.menus {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 20px;
    align-items: center;
}

.main-content {
    padding: 20px;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    
    /* overflow-y: scroll; */
}
.main-content p {
    color: #4b5563;
}
.article {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.projects {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    display: grid;
    box-shadow: 0 0 3px #d1d5db;
    position: relative;
    overflow: hidden;
}

.line {
    position: absolute;
    height: 100%;
    background-color: #fbbf24;
    width: 10px;
    top: 0;
    left: 0;
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    justify-self: flex-end;
    margin-top: 20px;
}

.side {
    display: grid;
    align-content: flex-start;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.side-card {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    font-size: .8rem;
    box-shadow: 0 0 3px #d1d5db;
    display: grid;
    gap: 15px;
}

.content {
    display: grid;
    gap: 5px;
}

.trend {
    display: flex;
    gap: 15px;
    align-items: center;
}

.trend div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.trend img {
    background-color: #f87171;
    padding: 7px;
    border-radius: 50%;
}

img[alt="logo"], img[alt="alex"] {
    background-color: #fbbf24;
    padding: 7px;
    border-radius: 50%;
}
